@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap");

.hi-box {
  padding: 10px;
  border-radius: 22px;
  border: 1px solid #fff;
  box-shadow: -1px 1px #fff, -2px 2px #fff, -3px 3px #fff, -4px 4px #fff,
    -5px 5px #fff;
}
.hi-box1 {
  padding: 10px;
  border-radius: 22px;
  border: 1px solid #00acee;
  box-shadow: 5px 10px #69c5e9;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #000000;
  color: #fff;
  font-size: 1.1rem;
  overflow-x: hidden;

  /* min-height: 200vh; */
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}
.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  #about h2 {
    margin-top: 30px;
  }
  header.sticky {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  nav {
    position: absolute;
    background: #333;
    width: 100%;
    height: calc(100vh-50px);
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  .active {
    left: 0;
  }

  header.sticky ul li a {
    color: white;
  }

  header nav ul {
    display: block;
    text-align: center;
  }
}

header.sticky .menu-toggle {
  color: #000;
}
.viewbuttons {
  padding: 10px;
  font-size: 1em;
  background-color: black;
  color: #fff;
  border: 2px solid white;
}
#contact-us {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.man {
  height: 60%;
  width: 60%;
}

#about {
  min-height: 100vh;
  padding-top: 98px;
  padding-bottom: 101px;
}

#about .p-first {
  margin-bottom: 30px;
}

#about h2 {
  margin-bottom: 47px;
}
#about .social-link-text {
  margin-top: 50px;
  margin-bottom: 25px;
}
#about .about-link {
  padding-left: 0;
}
#about .about-link li {
  display: inline-block;
}
#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #fff;
  margin-right: 10px;
  font-size: 22px;
  color: #fff;
  transition: all 0.3s;
}

#about .about-link li a i:hover {
  color: #222222;
  background: #fff;
}

.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}

#about p {
  margin-bottom: 0;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 30px;
}

#contact-us {
  width: 100%;
}

#contact-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

#contact-us .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  margin-top: 200px;
  display: flex;
  z-index: 1000;
}
#contact-us .container .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: 520px;
  background: #0f3959;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
#contact-us .container .contactinfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
#contact-us .container .contactinfo .info {
  position: relative;
  margin: 20px 0;
}
#contact-us .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
#contact-us .container .contactinfo .info li span:nth-child(1) {
  font-size: 30px;
}
#contact-us .container .contactinfo .info li span:nth-child(1) i {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

#contact-us .container .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 500;
  opacity: 0.5;
}
#contact-us .container .contactinfo .info li:hover span:nth-child(1) i,
#contact-us .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}

#contact-us .container .contactinfo .sci {
  position: relative;
  display: flex;
}
#contact-us .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

#contact-us .container .contactinfo .sci li a {
  text-decoration: none;
}

#contact-us .container .contactinfo .sci li a i {
  filter: invert(1);
  opacity: 0.5;
}
#contact-us .container .contactinfo .sci li:hover a i {
  opacity: 1;
}

#contact-us .container .contactForm {
  position: absolute;
  left: 100px;
  padding: 70px 50px;
  padding-left: 350px;
  background: #fff;
  height: 600px;
  width: calc(100%-150px);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

#contact-us .container .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 600;
}
#contact-us .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

#contact-us .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
#contact-us .container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
#contact-us .container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

#contact-us .container .contactForm .formBox .inputBox input,
#contact-us .container .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  resize: none;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

#contact-us .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}
#contact-us .container .contactForm .formBox .inputBox input[type="submit"] {
  cursor: pointer;
  position: relative;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
#contact-us
  .container
  .contactForm
  .formBox
  .inputBox
  input[type="submit"]:hover {
  background: #ff568c;
}
#contact-us .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

#contact-us .container .contactForm .formBox .inputBox input:focus ~ span,
#contact-us .container .contactForm .formBox .inputBox textarea:focus ~ span,
#contact-us .container .contactForm .formBox .inputBox input:valid ~ span,
#contact-us .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}

.skills {
  margin: 0;
  text-align: center;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Pacifico", cursive;
}
.projects {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, 0px);
  }
}
.socials {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.socials > ul {
  list-style: none;
}

.socials > ul > a > li {
  padding: 15px;
}
.socials > ul > a > li:hover {
  transform: scale(1.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me {
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#profile-img {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  object-fit: cover;
}

.profile-image-div {
  text-align: center;
  margin-top: 160px;
}

.big-circle {
  position: absolute;
  top: 10%;
  right: 30%;
  z-index: -1;
  opacity: 20%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  opacity: 40%;
}
.small-circle {
  position: absolute;
  bottom: 40%;
  left: 15%;
  z-index: -1;
  opacity: 40%;
}

a {
  font-size: 20px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1 {
  margin: 0px;
  font-size: 1.5em;
}

h3 {
  margin: 0px;
  font-size: 1.3em;
}
h4{
  margin: 0px;
  font-size: 1.1em;
}
}

p {
  font-size: 0.8em;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  /* list-style-type: none; */
}

/*---------------------------------------------*/

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  max-width: 600px;
  margin: 0 auto;
}

#contact-form {
  /* align-items: center; */
  align-content: center;
}

.container {
  width: 80%;
  padding: 20px;
}

.container h2 {
  width: 100%;
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px), 1fr);
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
  text-decoration: none;
}
